# Pre-processing

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('data_wordvectorized.csv',index_col=0,parse_dates=['created_at'])

In [3]:
data.head()

,screen_name,is_quote_status,text,created_at,favorites,retweets,follower_count,is_truncated,statuses_count,Day_of_Week,...,sold,ca,excited,x,thanks,pm,w,tix,check,party
0,awonderland,False,Would you trust me with your drink be honest c...,2021-02-01 00:33:12,3917,198,326241,False,44948,0,...,0,0,0,0,0,0,0,0,0,0
1,awonderland,False,some inspiration for you containsmedia,2021-01-31 20:14:43,4815,516,326241,False,44948,6,...,0,0,0,0,0,0,0,0,0,0
2,awonderland,False,if you see this tweet I am chilling &amp; so s...,2021-01-31 07:37:05,5028,223,326241,False,44948,6,...,0,0,0,0,0,0,0,0,0,0
3,awonderland,False,i want to marry my bed,2021-01-31 02:47:53,4329,927,326241,False,44948,6,...,0,0,0,0,0,0,0,0,0,0
4,awonderland,False,SOPHIE was groundbreaking and inspiring in so ...,2021-01-30 19:56:59,2323,145,326241,False,44948,5,...,0,0,0,0,0,0,0,0,0,0

In [4]:
model_data = data.drop(columns=['is_quote_status','text','created_at','follower_count','is_truncated','statuses_count'])
model_data.head()

,screen_name,favorites,retweets,Day_of_Week,time_of_day,containsmedia,u,music,new,love,...,sold,ca,excited,x,thanks,pm,w,tix,check,party
0,awonderland,3917,198,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,awonderland,4815,516,6,20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,awonderland,5028,223,6,7,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,awonderland,4329,927,6,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,awonderland,2323,145,5,19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
model_data = pd.get_dummies(model_data,columns=['screen_name','Day_of_Week','time_of_day'],drop_first=True)

In [6]:
model_data.columns.values

array(['favorites', 'retweets', 'containsmedia', 'u', 'music', 'new',
       'love', 'today', 'see', 'first', 'thank', 'get', 'like', 'live',
       'song', 'good', 'one', 'much', 'amp', 'time', 'show', 'day',
       'tomorrow', 'set', 'want', 'virtual', 'people', 'na', 'miss',
       'really', 'coming', 'album', 'going', 'tonight', 'happy', 'guys',
       'ever', 'year', 'tour', 'back', 'years', 'play', 'know', 'ur',
       'life', 'last', 'best', 'night', 'video', 'got', 'right', 'make',
       'everyone', 'worlds', 'amazing', 'remix', 'next', 'shows', 'week',
       'playing', 'let', 'things', 'seafoxnation', 'listen', 'friends',
       'gon', 'go', 'made', 'soon', 'wait', 'world', 'full', 'us', 'come',
       'friday', 'san', 'weekend', 'special', 'vegas', 'summer', 'tune',
       'big', 'tickets', 'galantis', 'spotify', 'sale', 'la', 'sold',
       'ca', 'excited', 'x', 'thanks', 'pm', 'w', 'tix', 'check', 'party',
       'screen_name_LouisTheChild', 'screen_name_NGHTMRE',
       'screen_name_WhatSoNot', 'screen_name_awonderland',
       'screen_name_pekingduk', 'screen_name_porterrobinson',
       'screen_name_sanholobeats', 'screen_name_theknocks',
       'screen_name_wearegalantis', 'Day_of_Week_1', 'Day_of_Week_2',
       'Day_of_Week_3', 'Day_of_Week_4', 'Day_of_Week_5', 'Day_of_Week_6',
       'time_of_day_1', 'time_of_day_2', 'time_of_day_3', 'time_of_day_4',
       'time_of_day_5', 'time_of_day_6', 'time_of_day_7', 'time_of_day_8',
       'time_of_day_9', 'time_of_day_10', 'time_of_day_11',
       'time_of_day_12', 'time_of_day_13', 'time_of_day_14',
       'time_of_day_15', 'time_of_day_16', 'time_of_day_17',
       'time_of_day_18', 'time_of_day_19', 'time_of_day_20',
       'time_of_day_21', 'time_of_day_22', 'time_of_day_23'], dtype=object)

In [7]:
x_columns = ['containsmedia', 'music', 'new',
       'love', 'today', 'first', 'like', 'live', 'song', 'good', 'time', 'show', 'day',
       'tomorrow', 'set', 'virtual', 'people', 'miss', 'album', 'going', 'tonight', 'happy', 'guys',
       'ever', 'year', 'tour', 'play', 'life', 'last', 'best', 'night', 'video', 
        'screen_name_LouisTheChild', 'screen_name_NGHTMRE', 'screen_name_WhatSoNot', 'screen_name_awonderland',
       'screen_name_pekingduk', 'screen_name_porterrobinson', 'screen_name_sanholobeats', 'screen_name_theknocks',
       'screen_name_wearegalantis', 'Day_of_Week_1', 'Day_of_Week_2', 'Day_of_Week_3', 'Day_of_Week_4', 'Day_of_Week_5', 
        'Day_of_Week_6', 'time_of_day_1', 'time_of_day_2', 'time_of_day_3', 'time_of_day_4', 'time_of_day_5', 'time_of_day_6', 
        'time_of_day_7', 'time_of_day_8', 'time_of_day_9', 'time_of_day_10', 'time_of_day_11',
       'time_of_day_12', 'time_of_day_13', 'time_of_day_14',
       'time_of_day_15', 'time_of_day_16', 'time_of_day_17',
       'time_of_day_18', 'time_of_day_19', 'time_of_day_20',
       'time_of_day_21', 'time_of_day_22', 'time_of_day_23']

In [8]:
len(x_columns)

70

In [9]:
model_data.head()

,favorites,retweets,containsmedia,u,music,new,love,today,see,first,...,time_of_day_14,time_of_day_15,time_of_day_16,time_of_day_17,time_of_day_18,time_of_day_19,time_of_day_20,time_of_day_21,time_of_day_22,time_of_day_23
0,3917,198,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4815,516,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,5028,223,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4329,927,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2323,145,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [11]:
X = model_data[x_columns]

In [12]:
y = model_data[['favorites','retweets']]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
X_train.to_csv('.\X_train_v2.csv')
X_test.to_csv('.\X_test_v2.csv')
y_train.to_csv('.\y_train_v2.csv')
y_test.to_csv('.\y_test_v2.csv')